---
import DeduplicateListPage from '../../components/tools/DeduplicateList';
import '../../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Deduplicate List — Utyl</title>
  </head>
  <body>
    <DeduplicateListPage client:load />
  </body>
</html>
